{% extends "blog/base.html" %}
{% block content %}
    {% for project in projects %}
        <project class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ project.name }}</a>
              <small class="text-muted">{{ project.startDate }} -> {{ project.endDate }}</small>
            </div>
            {% for client in project.client %}
                <h2>Clients :</h2>
                <p class="article-content">&nbsp;&nbsp;&nbsp;&nbsp;Name : {{ client.lastName }} {{ client.firstName }}</p>
                <p class="article-content">&nbsp;&nbsp;&nbsp;&nbsp;Firm : {{ client.firm }}</p>
                <p class="article-content display">&nbsp;&nbsp;&nbsp;&nbsp;Phone number : {{ client.phoneNumber }}</p>
            {% endfor %}
            {% for task in project.task %}
                <h2>Tasks :</h2>
                <p class="article-content">&nbsp;&nbsp;&nbsp;&nbsp;Abstract : {{ task.abstract }}</p>
                <p class="article-content">&nbsp;&nbsp;&nbsp;&nbsp;Duration : {{ task.duration }} ( {{ task.startTime }} -> {{ task.endTime }} )</p>
            {% endfor %}
          </div>
        </project>
    {% endfor %}
{% endblock content %}